
.menu-div{
    padding: 0% 25%;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

img{width: 100%;}
.content-div {
    margin: 0 19.5%;
}
h2{text-align: center;
    margin-top: 88px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%; /* 64.8px */}

.text-div {
    color: #161616;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 31.5px */
 margin-top: 40px;

}
.color-text{ color:  #04959E;}

.ol-content{
    color: #161616;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
    margin-top: 24px;
}


.button-div { display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 0 88px 0;
}

button {
    background: #04959E;
    color: #fff;
    display: flex;
padding: 10px 24px;
justify-content: center;
align-items: center;
border: 0;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 135%; /* 24.3px */

}
.footer-text{
    text-align: center;
    padding: 18px 0px;
    color: #161616;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
}