*,
*::before,
*::after{
        margin: 0px;
        box-sizing: border-box;
}

a, a:visited{
    color: inherit;
    text-decoration: none;
    
}

a:hover{
    color:inherit;
    text-decoration: none;
}
a:focus,
a:active{outline: none;}

aside, nav, footer, header, section, main{
    display: block;
}


p+p { margin-top: 1em;}

ul{list-style: none;}

img, svg {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
/*form*/
input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
}

input ::-ms-clear{display: none;}

button, input[type="submit"]{
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}
 button::-moz-focus-inner {
    padding: 0;
    border: 0;
 }

 label{cursor: pointer;}

 legend {display: block;}
